/* Section Catalog */
.catalog__title {
  display: inline-block;
  margin-right: 40px;
}

.catalog__tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 13px;
}

.catalog__btn_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2px;
  height: 66px;
}

.catalog__btn_item {
  display: inline-block;
  margin-right: 50px;
}

.catalog__btn {
  position: relative;
  height: 46px;
  width: 46px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.catalog__btn_fra {
  background-image: url('../img/catalog_ico-fra.svg');
}
.catalog__btn_deu {
  background-image: url('../img/catalog_ico-deu.svg');
}
.catalog__btn_ita {
  background-image: url('../img/catalog_ico-ita.svg');
}
.catalog__btn_rus {
  background-image: url('../img/catalog_ico-rus.svg');
}
.catalog__btn_bel {
  background-image: url('../img/catalog_ico-bel.svg');
}

.catalog__btn_active::after {
  content: '';
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  border: 2px solid #7943A4;
  border-radius: 50%;
  background-color: transparent;
}

.catalog__intro {
  max-width: 1080px;
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 32px;
}


.catalog__item {
  display: none;
  justify-content: space-between;
}
.catalog__item_active {
  display: flex;
  animation: catalog__item_appear .6s;
}

@keyframes catalog__item_appear {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0;
    transform: scale(.973);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}


.catalog__painter {
  display: none;
  flex: 0 1 750px;
}
.catalog__painter_active {
  display: block;
}

.catalog__img {
  max-width: 750px;
  margin-bottom: 27px;
}

.catalog__painters_item:not(:first-child) {
  margin-top: -1px;
}

.catalog__item_title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.catalog__item_lived {
  display: inline-block;
  margin-bottom: 6px;
  color: #999;
  font-size: 12px;
  line-height: 16px;
}

.catalog__item_desc {
  max-width: 749px;
  font-size: 16px;
  line-height: 32px;
}


.catalog__painters {
  flex: 0 1 800px;
}

.catalog__painters_years {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.catalog__painters_btn {
  height: 116px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-color: #CACACA;
  transition: .7s;
}
.catalog__painters_btn-active {
  border-color: #7943A4;
}
.catalog__painters_btn:after {
  content: '';
  height: 50px;
  width: 50px;
  background: url('../img/catalog_button.svg') no-repeat right / contain;
}
.catalog__painters_btn-active:after {
  content: '';
  height: 50px;
  width: 50px;
  background: url('../img/catalog_button-active.svg') no-repeat right / contain;
}

.catalog__painters_list {
  max-height: 0;
  display: none;
  flex-flow: column wrap;
  align-content: flex-start;
}

.catalog__painters_list-active {
  max-height: 288px;
  display: flex;
  margin: 26px 0;
  animation: catalog__painters_appear .5s;
}

@keyframes catalog__painters_appear {
  from {
    opacity: 0;
    height: 0;
  }
  70% {
    opacity: 0;
    height: 288px;
    transform: scale(.973);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.catalog__painter_name {
  margin-right: 60px;
  font-size: 16px;
  line-height: 32px;
}

.catalog__item_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
}



/* Default Init */
.catalog__painter_isempty {
  margin: 25px 0;
  padding-left: 299px;
  position: relative;
  height: 189px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.catalog__painter_isempty::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 12px;
  width: 251px;
  height: 165px;
  background-color: #B7B7B7;
}
.catalog__painter_isempty::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 275px;
  height: 189px;
  border: 2px solid #B7B7B7;
}

.catalog__painter_isempty-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.catalog__painter_isempty-desc {
  margin-bottom: 5px;
  max-width: 275px;
  font-size: 16px;
  line-height: 22px;
}
.catalog__painter_isempty-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #9D5CD0;
}
