/* Section Editions */
.editions {
  margin-top: 42px;
  margin-bottom: 40px;
  padding-top: 80px;
  padding-bottom: 76px;
  color: white;
  background: url('../img/editions_1920.jpg') repeat-x center / cover;
}

.editions__title {
  margin-bottom: 21px;
}

.editions__container {
  display: flex;
  justify-content: space-between;
}

.editions__filter-categories {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: bold;
}

.editions__check {
  display: block;
  position: relative;
  width: fit-content;
  cursor: pointer;
  padding-left: 24px;
  font-size: 16px;
  line-height: 1;
}
.editions__check:not(:last-child) {
  margin-bottom: 16px;
}

.editions__check-box {
  display: none;
}

.editions__check-box ~ .editions__check-btn {
  position: absolute;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  transform: translateY(-50%);
  transition: border-color .3s ease-in-out;
}

.editions__check-box:checked ~ .editions__check-btn {
  border-color: #C283F3;
}

.editions__check-box ~ .editions__check-btn::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  border: 2px solid #C283F3;
  border-radius: 50%;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.editions__check-box:checked ~ .editions__check-btn::after {
  opacity: 1;
}

.editions__check-box:checked ~ .editions__check-label {
  color: #C283F3;
}

.editions__filter-prices {
  display: block;
  padding-top: 26px;
  margin-bottom: 15px;
}

.editions__filter-price-label {
  display: flex;
  align-items: center;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 6px;
}

.editions__filter-label {
  height: 100%;
}

.editions__filter-txt {
  display: inline-block;
  width: 36px;
  text-align: center;
}
.editions__filter-last-txt {
  width: 50px;
}

.editions__filter-price {
  width: 73px;
  height: 100%;
  border: none;
  background: rgba(157, 92, 208, .5);
}




.editions__slider {
  min-height: 510px;
  max-width: 1150px;
}

.swiper-container-multirow-column>.editions__wrapper {
  justify-content: flex-end;
}

.editions__slide {
  height: 390px;
  width: 350px;
  object-fit: cover;
  margin-bottom: 20px;
}

.editions__navigation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 16px;
}

.editions__button {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: #666;
  border: 2px solid transparent;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.editions__button:hover {
  background-color: #9D5CD0;
}

.editions__button:focus {
  border-color: black;
}

.editions__button::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.editions__button_prev {
  margin-right: 16px;
}

.editions__button_next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.editions__button_prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.swiper-button-disabled {
  opacity: .5;
}

.editions__pagination {
  margin-right: 20px;
  text-align: center;
}

.editions__slide-desc {
  display: block;
  font-size: 16px;
  line-height: 22px;
}

.editions__slide-name-price {
  display: flex;
  justify-content: space-between;
}

.editions__slide-name {
  font-weight: bold;
}

.editions__slide-price {
  font-style: italic;
}

.editions__slide-author {
  margin-bottom: 15px;
}

.editions__slide-btn {
  width: 116px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
}
