/* Section Events */
.events__container {
  position: relative;
}

.events__title {
  margin-bottom: 30px;
}

.events__list {
  display: flex;
  justify-content: flex-start;
}

.events__article {
  min-height: 658px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
}

/* .events__navigation {
  display: inline-flex;
  align-items: center;
}

.events__navigation .swiper-button-disabled {
  opacity: 0;
  cursor: initial;
} */

.events__more {
  min-width: 188px;
  margin: 0 auto;
  padding: 19px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9D5CD0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.events__more::after {
  content: '';
  position: absolute;
  inset: -6px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
  border-color: transparent;
  transition-property: border-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.events__more:hover::after,
.events__more:active::after {
  content: none;
}
.events__more:hover {
  color: #fff;
  background-color: #9D5CD0;
  transition-property: background-color, color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.events__more:active {
  background-color: #9D5CD0;
  border-color: #D1A9F0;
  transition-property: background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.events__more:focus::after {
  border-color: #9D5CD0;
  transition-property: border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.events__item {
  width: calc(100% / 3 - (40px * 2 / 3));
  min-height: 700px;
  height: 100%;
  margin-right: 50px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border: 1px solid #CACACA;
  box-sizing: border-box;
}
 .events__item:nth-child(3n) {
  margin-right: 0;
}

.events__item.is-hidden {
  display: none;
}

.events__article-img {
  max-width: 650px;
  width: 100%;
  object-fit: cover;
}

.events__desc {
  margin-bottom: auto;
  padding: 10px 20px 43px 49px;
}

.events__item-where,
.events__item-when {
  display: block;
  /* text-align: right; */
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.events__item-title {
  margin-bottom: 2px;
  padding-top: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.events__item-desc {
  margin-right: 15px;
  font-size: 16px;
  line-height: 32px;
}

.events__item-link {
  width: fit-content;
  margin-left: 50px;
  position: relative;
  font-size: 16px;
  line-height: 29px;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  transition-property: border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.events__item-link::before {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  background-color: transparent;
  z-index: -1;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.events__item-link:hover {
  color: #7943A4;
  border-bottom-color: currentColor;
  transition-property: color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.events__item-link:focus {
  color: white;
  border-bottom-color: currentColor;
  transition-property: color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.events__item-link:focus::before {
  background-color: #9D5CD0;
  transition-property: color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.events__item-link:active {
  color: #333;
  border-bottom-color: currentColor;
  transition-property: color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.events__item-link:active::before {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.events__pagination {
  width: 100px;
  text-align: center;
}
.swiper-pagination-bullet {
  background-color: #CACACA;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #666;
}



@media (max-width: 1365px) {
  .events__article-img {
    /* height: calc(200 / var(--tablet-width) * 100vw); */
    height: 200px;
  }

  .events__desc {
    padding: 10px 18px 43px 35px;
  }

  .events__item {
    padding-bottom: 49px;
  }

  .events__item-desc {
    margin-right: 0;
  }

  .events__item {
    flex: 0 1 31.25;
    min-height: 683px;
    margin-right: 27px;
    padding-bottom: 47px;
  }

  .events__item-link {
    margin-left: 34px;
  }

  .events__article {
    min-height: 632px;
  }
}



@media (max-width: 860px) {
  .events__item {
    width: calc(100% / 2 - 20px / 2);
    margin-right: 20px;
  }

  .events__item:nth-child(3n) {
    margin-right: 20px;
  }

  .events__item:nth-child(2n) {
    margin-right: 0;
  }
}



@media (max-width: 650px) {
  .events__list {
    flex-wrap: nowrap;
  }

  .events__more {
    display: none;
  }

  .events__item {
    width: 100%;
    margin-right: 0;
  }
}
