/* Section Galery */
.galery {
  margin-bottom: 40px;
  padding-top: 80px;
  padding-bottom: 70px;
  color: white;
  background: url('../img/galery_1920.jpg') repeat-x center / cover;
}

.galery__container {
  max-height: 845px;
  height: 100%;
  /* height: calc(845 / var(--desktop-width) * 100vw); */
  display: flex;
  /* flex-flow: column wrap; */
  justify-content: space-between;
  /* align-content: space-between; */
}

.galery__container-left,
.galery__container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.galery__intro {
  /* max-width: 400px; */
  width: calc(400 / var(--desktop-width) * 100vw);
  /* margin-bottom: 550px; */
  margin-bottom: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.galery__title {
  margin-bottom: 15px;
}

.galery__filter {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  color: white;
  font-size: 16px;
  line-height: 32px;
}

.choices__placeholder {
  opacity: 1;
}

.choices {
  margin-top: 10px;
}
.is-open.choices {
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.is-open.choices::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* border-top-left-radius: 6px;
  border-top-right-radius: 6px; */
  border: 1px solid white;
  border-bottom: none;
  background-color: transparent;
  z-index: -1;
}

.choices__inner {
  min-height: auto;
  letter-spacing: 1px;
  padding: 4px 14px 0;
  border: 1px solid white;
  border-radius: 6px;
  background-color: transparent;
}
.is-focused .choices__inner {
  margin-bottom: 0;
}
.choices__inner:hover {
  background: rgba(255, 255, 255, .2);
}
.is-open .choices__inner {
  border-radius: 6px;
  /* border-bottom: 2px solid transparent; */
  border-color: white;
}

.choices__list--dropdown {
  border: none;
}

.choices__list--single {
  padding: 0;
}

.is-open .choices__list--dropdown {
  border: 1px solid #999;
  border-top: white;
  background-color: transparent;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 6px;
}

.choices__list--dropdown .choices__item--selectable {
  padding: 4px 14px;
  color: #999;
}
.choices__list--dropdown .choices__item--selectable:not(:last-child) {
  border-bottom: 1px solid #999;
}
.choices__list--dropdown .choices__item--selectable:hover,
.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  color: #fff;
  background: rgba(255, 255, 255, .2);
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  border-radius: 6px;
}

.choices[data-type*='select-one']:after {
  margin-top: -7px;
  margin-right: 4px;
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
}
.choices[data-type*='select-one'].is-open:after {
  margin-top: -5px;
  margin-right: 4px;
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
}

.choices__item--disabled {
  display: none;
}




.galery__desc {
  display: block;
  /* max-width: 400px; */
  width: calc(400 / var(--desktop-width) * 100vw);
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}
.galery__desc_down {
  display: none;
}

.galery__2login {
  color: #C283F3;
}
.galery__2login:hover {
  color: #fff;
  background-color: #C283F3;
}

.galery__slider {
  /* height: 810px; */
  height: min-content;
  /* height: calc(810 / var(--desktop-width) * 100vw); */
  /* max-width: 1150px; */
  width: calc(1150 / var(--desktop-width) * 100vw);
  margin-bottom: 10px;
}

.galery__wrapper {
  height: auto;
}

.swiper-container-multirow-column>.galery__wrapper {
  justify-content: flex-end;
}

.galery__navigation {
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 27px 0;
}

.galery__button {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: #666;
  border: 2px solid transparent;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.galery__button:hover {
  background-color: #9D5CD0;
}

.galery__button:focus {
  border-color: black;
}

.galery__button::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.galery__button_prev {
  margin-right: 20px;
}

.galery__button_next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.galery__button_prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.swiper-button-disabled {
  opacity: .5;
}

.galery__pagination {
  margin-right: 10px;
  /* text-align: center; */
}

.galery__slide {
  width: 350px;
  /* width: 100%; */
  /* width: calc(350 / var(--desktop-width) * 100vw); */
  height: 350px;
  /* height: 100%; */
  /* height: calc(350 / var(--desktop-width) * 100vw); */
  position: relative;
  overflow: hidden;
  background-color: #926B88;
}

.galery__slide::before {
  content: "";
  box-sizing: border-box;
  height: inherit;
  position: relative;
  z-index: 1;
  display: block;
  border: 3px solid transparent;
  transition: background-color .3s ease, border-color .3s ease;
}

.galery__slide::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/galery_img-hover.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  background-clip: content-box;
  transition: opacity .5s ease;
}

.galery__slide:hover::after {
  opacity: 1;
}

.galery__slide:focus {
  outline: none;
}

.galery__slide:focus::before {
  border-color: #7943A4;
}

.galery__slide:active::before {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, .4);
}

.galery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media (max-width: 1365px) {
  .galery__container {
    height: calc(689 / var(--tablet-width) * 100vw);
  }

  .galery__intro,
  .galery__desc {
    width: calc(280 / var(--tablet-width) * 100vw);
  }

  .galery__slider {
    height: calc(654 / var(--tablet-width) * 100vw);
    width: calc(594 / var(--tablet-width) * 100vw);
    margin-top: 25px;
  }

  .galery__slide {
    width: calc(280 / var(--tablet-width) * 100vw);
    height: calc(280 / var(--tablet-width) * 100vw);
  }

  .galery__navigation {
    margin-bottom: 2px;
  }
}


@media (max-width: 860px) {
  .galery__container {
    /* height: calc(951 / var(--mobile-width) * 100vw); */
    height: 100%;
    flex-direction: column;
    max-height: 961px;
  }

  .galery__intro {
    width: 280px;
  }

  .galery__slider {
    width: 100%;
    height: 100%;
    /* height: calc(654 / var(--mobile-width) * 100vw); */
    margin-top: 27px;
    margin-bottom: 30px;
  }

  .galery__slide {
    width: calc(317 / var(--mobile-width) * 100vw);
    height: calc(280 / var(--mobile-width) * 100vw);
  }

  .galery__navigation {
    margin-top: 47px;
  }

  .galery__desc {
    width: 100%;
    height: 100%;
  }
  .galery__desc_up {
    display: none;
  }
  .galery__desc_down {
    display: block;
  }
}



@media (max-width: 650px) {
  .galery {
    padding-top: 49px;
    padding-bottom: 40px;
    margin-bottom: 25px;
  }

  .choices {
    margin-top: 3px;
  }

  .galery__container-left {
    margin-bottom: 9px;
  }

  .galery__container-right {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
  }

  .galery__slider {
    margin-bottom: 20px;
  }

  .galery__slide {
    width: calc(290 / var(--min-width) * 100vw);
    height: calc(367 / var(--min-width) * 100vw);
  }

  .galery__navigation {
    margin: 0;
  }
}
