/* Section Header - Menu */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header__logo {
  margin-right: 180px;
}

.header__menu {
  color: white;
  background-color: black ;
}

.header__container {
  height: 100px;
  display: flex;
  align-items: center;
}

.nav {
  margin-right: auto;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
}

.nav__item:not(:last-child) {
  margin-right: 56px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}
.nav__link::before {
  content: '';
  position: absolute;
  left: -7px;
  top: -7px;
  right: -7px;
  bottom: -7px;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  z-index: -1;
}
.nav__link:hover {
  color: #C283F3;
}
.nav__link:focus {
  color: white;
}
.nav__link:focus::before {
  background-color: #7943A4;
}
.nav__link:active {
  color: #7943A4;
  background-color: transparent;
}
.nav__link:active::before {
  background-color: transparent;
}

.header__login {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 25px;
  transition: color .3s ease-in-out;
  z-index: 1;
}
.header__login::before {
  content: '';
  position: absolute;
  left: -7px;
  top: -7px;
  right: -7px;
  bottom: -7px;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  z-index: -1;
}
.header__login-img {
  width: 13px;
  height: 13px;
  margin-right: 2px;
  fill: currentColor;
}
.header__login:hover {
  color: #C283F3;
}
.header__login:focus {
  color: white;
}
.header__login:focus::before {
  background-color: #7943A4;
}
.header__login:active {
  color: #9D5CD0;
}
.header__login:active::before {
  background-color: transparent;
}


.header__search {
  background: rgba(0, 0, 0, .4);
}

.search__containter {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
}

.search__item {
  height: 100%;
  position: relative;
  display: flex;
}
.search__item:not(:last-child) {
  margin-right: 96px;
}

.search__button {
  color: white;
  position: relative;
  font-size: 18px;
  line-height: 25px;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.search__button::before {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  z-index: -1;
}
.search__button-img {
  width: 12px;
  height: 7px;
  stroke: currentColor;
  fill: none;
  transition: transform .1s ease-in-out;
}
.search__button:hover {
  color: #9D5CD0;
}
.search__button:focus {
  color: white;
}
.search__button:focus::before {
  background-color: #7943A4;
}
.search__button:active {
  color: #7943A4;
  background-color: transparent;
}
.search__button:active::before {
  background-color: transparent;
}
.search__button:active .search__button-img {
  transform: rotate(180deg);
}


.search__form {
  min-width: 251px;
  /* padding-left: 31px; */
  font-size: 18px;
  line-height: 25px;
}

.search__form-button {
  height: 29px;
  width: 23px;
  margin-right: 4px;
  border: none;
  background-color: transparent;
  /* background: url('../img/header__search.svg') no-repeat bottom / contain; */
}

.search__form-button-img {
  height: 22px;
  width: 23px;
  vertical-align: bottom;
  color: white;
  fill: none;
  transition: color .3s ease-in-out;
}
.search__form-button:hover .search__form-button-img,
.search__form-button:focus .search__form-button-img {
  color: #C283F3;
  transition: color .3s ease-in-out;
}
.search__form-button:focus-visible .search__form-button-img {
  color: #7943A4;
  transition: color .3s ease-in-out;
}

.search__form-input {
  display: inline-block;
  color: white;
  padding: 4px 0;
  /* width: 100%; */
  vertical-align: bottom;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  transition-property: border-bottom-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  outline: none;
}
.search__form-input:hover,
.search__form-input:focus {
  border-bottom-color: #C283F3;
}
.search__form-input:focus-visible {
  border-bottom-color: #7943A4;
}

.search__form-input::placeholder {
  color: white;
}
.search__form-input:focus::placeholder {
  color: transparent;
}


.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  height: 300px;
  padding: 40px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.search__item .submenu {
  visibility: hidden;
  opacity: 0;
}
.search__item:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.submenu li {
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
}
.submenu li:not(:last-child) {
  margin-bottom: 20px;
}
.submenu li a {
  padding: 0 14px;
  color: white;
}
.submenu__realism--1 {
  background: url('../images/header/sm_bg_realism_1.jpg') no-repeat center / cover;
}
.submenu__realism--2 {
  background: url('../images/header/sm_bg_realism_2.jpg') no-repeat center / cover;
}
.submenu__realism--3 {
  background: url('../images/header/sm_bg_realism_3.jpg') no-repeat center / cover;
}
.submenu__realism--4 {
  background: url('../images/header/sm_bg_realism_4.jpg') no-repeat center / cover;
}

.submenu__impressionism--1 {
  background: url('../images/header/sm_bg_impress_1.jpg') no-repeat center / cover;
}
.submenu__impressionism--2 {
  background: url('../images/header/sm_bg_impress_2.jpg') no-repeat center / cover;
}
.submenu__impressionism--3 {
  background: url('../images/header/sm_bg_impress_3.jpg') no-repeat center / cover;
}
.submenu__impressionism--4 {
  background: url('../images/header/sm_bg_impress_4.jpg') no-repeat center / cover;
}

.submenu__postimpressionism--1 {
  background: url('../images/header/sm_bg_postimpress_1.jpg') no-repeat center / cover;
}
.submenu__postimpressionism--2 {
  background: url('../images/header/sm_bg_postimpress_2.jpg') no-repeat center / cover;
}
.submenu__postimpressionism--3 {
  background: url('../images/header/sm_bg_postimpress_3.jpg') no-repeat center / cover;
}
.submenu__postimpressionism--4 {
  background: url('../images/header/sm_bg_postimpress_4.jpg') no-repeat center / cover;
}

.submenu__avangard--1 {
  background: url('../images/header/sm_bg_avangard_1.jpg') no-repeat center / cover;
}
.submenu__avangard--2 {
  background: url('../images/header/sm_bg_avangard_2.jpg') no-repeat center / cover;
}
.submenu__avangard--3 {
  background: url('../images/header/sm_bg_avangard_3.jpg') no-repeat center / cover;
}
.submenu__avangard--4 {
  background: url('../images/header/sm_bg_avangard_4.jpg') no-repeat center / cover;
}

.submenu__futurism--1 {
  background: url('../images/header/sm_bg_futurism_1.jpg') no-repeat center / cover;
}
.submenu__futurism--2 {
  background: url('../images/header/sm_bg_futurism_2.jpg') no-repeat center / cover;
}
.submenu__futurism--3 {
  background: url('../images/header/sm_bg_futurism_3.jpg') no-repeat center / cover;
}
.submenu__futurism--4 {
  background: url('../images/header/sm_bg_futurism_4.jpg') no-repeat center / cover;
}


.simplebar-scrollbar:before {
  width: 2px;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
}
.simplebar-track + .simplebar-vertical {
  width: 2px;
  /* top: 40px;
  bottom: 40px; */
  margin-right: 19px;
  background-color: #000;
}
