/* Section Header - Menu */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header__logo {
  margin-right: 180px;
}

.header__menu {
  color: white;
  background-color: black ;
}

.header__container {
  height: 100px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  margin-right: auto;

}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  margin-right: calc(56 / var(--desktop-width) * 100vw);
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}
.nav__link::before {
  content: '';
  position: absolute;
  left: -7px;
  top: -7px;
  right: -7px;
  bottom: -7px;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  z-index: -1;
}
.nav__link:hover {
  color: #C283F3;
}
.nav__link:focus-visible {
  color: white;
}
.nav__link:focus-visible::before {
  background-color: #7943A4;
}
.nav__link:active {
  color: #7943A4;
  background-color: transparent;
}
.nav__link:active::before {
  background-color: transparent;
}

.header__login {
  display: block;
  flex-shrink: 0;
  position: relative;
  font-size: 18px;
  line-height: 25px;
  overflow: hidden;
  transition: color .3s ease-in-out;
  z-index: 1;
}
.header__login::before {
  content: '';
  position: absolute;
  left: -7px;
  top: -7px;
  right: -7px;
  bottom: -7px;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
  z-index: -1;
}
.header__login-img {
  width: 18px;
  height: 13px;
  margin-left: -4px;
  margin-right: 2px;
  fill: currentColor;
  transition-property: margin-left, color;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}
.header__login:hover {
  color: #C283F3;
  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}
.header__login:hover .header__login-img,
.header__login:active .header__login-img {
  margin-left: 0;
  transition-property: margin-left;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}
.header__login:focus-visible {
  color: white;
  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}
.header__login:focus-visible::before {
  background-color: #7943A4;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}
.header__login:active {
  color: #9D5CD0;
}
.header__login:active::before {
  background-color: transparent;
}


.header__search {
  position: relative;
}
.header__search::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: -1;
}

.search__containter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__list {
  width: calc(1250 / 1600 * 100%);
  display: flex;
  flex-wrap: wrap;
  /* flex: 1 1 100%; */
}

.search__item {
  padding-top: 20px;
  padding-bottom: 25px;
  position: relative;
  display: flex;
}
.search__item:not(:last-child) {
  margin-right: calc(96 / var(--desktop-width) * 100vw);
}
.search__item::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.search__button {
  color: white;
  position: relative;
  font-size: 18px;
  line-height: 25px;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.search__button::before {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  bottom: 0;
  left: -5px;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
  z-index: -1;
}
.search__button-img {
  width: 12px;
  height: 7px;
  stroke: currentColor;
  fill: none;
  transition: transform .1s ease-in-out;
}
.search__button:hover {
  color: #9D5CD0;
}
.search__button:focus-visible {
  color: white;
}
.search__button:focus-visible::before{
  background-color: #7943A4ff;
  transition: background-color .3s ease-in-out;
}
.search__button:active {
  color: #7943A4;
  background-color: transparent;
}
.search__button:active::before {
  background-color: transparent;
}
.search__item.is-active .search__button-img {
  transform: rotate(180deg);
}


.search-form {
  position: absolute;
  right: 0;
  top: calc(100% + 17px);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  min-width: 251px;
  /* padding-left: 31px; */
  font-size: 18px;
  line-height: 25px;
  z-index: 3;
}
.search-form.is-opened {
  display: flex !important;
  top: 50%;
  transform: translateY(-50%);
  animation-name: search-open;
  animation-duration: .3s;
}

.search-form.is-closed {
  animation-name: search-close;
  animation-duration: .3s;
}

.search-form__button {
  height: 29px;
  width: 23px;
  margin-right: 4px;
  border: none;
  background-color: transparent;
  transform: translateY(1px);
  /* background: url('../img/header__search.svg') no-repeat bottom / contain; */
}

.search-btn__img,
.search-form__button-img {
  height: 22px;
  width: 23px;
  vertical-align: bottom;
  color: white;
  fill: none;
  transition: color .3s ease-in-out;
}
.search-form__button:hover .search-btn__img,
.search-form__button:hover .search-form__button-img,
.search-form__button:focus .search-btn__img,
.search-form__button:focus .search-form__button-img {
  color: #C283F3;
  transition: color .3s ease-in-out;
}
.search-form__button:focus .search-btn__img,
.search-form__button:focus .search-form__button-img {
  color: #7943A4;
  transition: color .3s ease-in-out;
}

.search-form__input {
  display: inline-block;
  color: white;
  padding: 4px 0;
  /* width: 100%; */
  vertical-align: bottom;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  transition-property: border-bottom-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  outline: none;
}
.search-form__input:hover,
.search-form__input:focus {
  border-bottom-color: #C283F3;
}
.search-form__input:focus {
  border-bottom-color: #7943A4;
}

.search-form__input::placeholder {
  color: white;
}
.search-form__input:focus::placeholder {
  color: transparent;
}


.submenu {
  /* position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  height: 300px;
  padding: 40px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; */
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
}
.submenu__wrap {
  width: 240px;
  max-height: 220px;
}

.submenu.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.submenu.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}
/* .search__item .submenu {
  visibility: hidden;
  opacity: 0;
}
.search__item:hover .submenu {
  visibility: visible;
  opacity: 1;
} */
/* .submenu li {

} */
.submenu li:not(:last-child) {
  margin-bottom: 20px;
}
.submenu li a {
  max-width: 220px;
  /* height: 40px; */
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  border: 2px solid transparent;
  box-sizing: border-box;
  color: white;
  line-height: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.submenu li a:focus-visible,
.submenu li a:hover {
  border-color: #9D5CD0;
}
.submenu li a:active {
  border-color: #D1A9F0;
}
.submenu li a:active::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.submenu__realism-1 {
  background-image: url('../images/header/sm_bg_realism_1.jpg');
}
.submenu__realism-2 {
  background-image: url('../images/header/sm_bg_realism_2.jpg');
}
.submenu__realism-3 {
  background-image: url('../images/header/sm_bg_realism_3.jpg');
}
.submenu__realism-4 {
  background-image: url('../images/header/sm_bg_realism_4.jpg');
}

.submenu__impressionism-1 {
  background-image: url('../images/header/sm_bg_impress_1.jpg');
}
.submenu__impressionism-2 {
  background-image: url('../images/header/sm_bg_impress_2.jpg');
}
.submenu__impressionism-3 {
  background-image: url('../images/header/sm_bg_impress_3.jpg');
}
.submenu__impressionism-4 {
  background-image: url('../images/header/sm_bg_impress_4.jpg');
}

.submenu__postimpressionism-1 {
  background-image: url('../images/header/sm_bg_postimpress_1.jpg');
}
.submenu__postimpressionism-2 {
  background-image: url('../images/header/sm_bg_postimpress_2.jpg');
}
.submenu__postimpressionism-3 {
  background-image: url('../images/header/sm_bg_postimpress_3.jpg');
}
.submenu__postimpressionism-4 {
  background-image: url('../images/header/sm_bg_postimpress_4.jpg');
}

.submenu__avangard-1 {
  background-image: url('../images/header/sm_bg_avangard_1.jpg');
}
.submenu__avangard-2 {
  background-image: url('../images/header/sm_bg_avangard_2.jpg');
}
.submenu__avangard-3 {
  background-image: url('../images/header/sm_bg_avangard_3.jpg');
}
.submenu__avangard-4 {
  background-image: url('../images/header/sm_bg_avangard_4.jpg');
}

.submenu__futurism-1 {
  background-image: url('../images/header/sm_bg_futurism_1.jpg');
}
.submenu__futurism-2 {
  background-image: url('../images/header/sm_bg_futurism_2.jpg');
}
.submenu__futurism-3 {
  background-image: url('../images/header/sm_bg_futurism_3.jpg');
}
.submenu__futurism-4 {
  background-image: url('../images/header/sm_bg_futurism_4.jpg');
}


.simplebar-scrollbar:before {
  width: 2px;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 0;
  opacity: 1;
}
.simplebar-track + .simplebar-vertical {
  width: 2px;
  /* top: 40px;
  bottom: 40px; */
  /* margin-right: 19px; */
  background-color: #000;
}




.burger {
  display: none;
  position: relative;
  border: none;
  padding: 0;
  width: 36px;
  height: 28px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  height: var(--burger-line-height);
  background: #fff;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger::before {
  top: 0;
  width: 100%;
}

.burger::after {
  top: calc(100% - var(--burger-line-height));
  width: 65%;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 80%;
  height: var(--burger-line-height);
  background: #fff;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active::after {
  width: 100%;
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}



.search-btn {
  display: none;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes search-open {
  from {
    transform: translateY(-50%) scaleX(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) scaleX(100%);
    opacity: 1;
  }
}

@keyframes search-close {
  from {
    transform: translateY(-50%) scaleX(100%);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) scaleX(0);
    opacity: 0;
  }
}

@media (max-width: 1365px) {
  .burger,
  .search-btn {
    display: block;
  }

  .header__login,
  .search,
  .search-form {
    display: none;
  }

  .search-btn,
  .search-btn__img {
    width: 30px;
    height: 29px;
  }

  .nav {
    position: fixed;
    left: -150vw;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .9);
    transition: left .3s ease-in-out;
  }

  .nav--active {
    left: 0;
    transition: left .3s ease-in-out;
  }

  .nav__list {
    padding: 96px 48px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav__link {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
  }

  .burger--active {
    position: fixed;
    top: 37px;
    left: 50px;
    color: #fff;
    z-index: 1001;
  }

  .login--active {
    /* width: 257px; */
    /* height: 60px; */
    padding: 15px 91px;
    display: block;
    position: fixed;
    left: 50px;
    bottom: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
    z-index: 1001;
    border: 2px solid #9D5CD0;
    box-sizing: border-box;
    border-radius: 100px;
  }

  .logo {
    width: 187px;
    height: 42px;
  }
  .header__logo {
    margin-right: 0;
  }
}



@media (max-width: 860px) {
  .search-form.is-opened {
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .search-form__input {
    width: 100%;
  }
}



@media (max-width: 650px) {
  .header__container {
    height: 45px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .search-btn,
  .search-btn__img {
    width: 18px;
    height: 18px;
  }

  .logo {
    width: 96.8px;
    height: 21.67px;
  }

  .nav__link {
    font-size: 16px;
    line-height: 32px;
  }

  .header__login {
    font-size: 12px;
  }

  .login--active {
    padding: 6px 21px;
  }
}
