/* Section Hero */
.hero__container {
  position: relative;
  /* height: 760px; */
  min-height: 760px;
  height: 100%;
  color: white;
}

.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.hero__wrapper {
  animation: 6.33s linear infinite alternate slider-zoom;
}

@keyframes slider-zoom {
  from { transform: scale(1); }
  to { transform: scale(1.03); }
}

.hero__slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__text {
  width: 100%;
  height: 100%;
  padding-top: 201px;
  padding-bottom: 10px;
}

.hero__title {
  max-width: 597px;
  margin: 0;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
}

.hero__desc {
  max-width: 579px;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__button {
  width: 314px;
  height: 70px;
  position: relative;
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background-color: #9D5CD0;
  border: 3px solid transparent;
  border-radius: 100px;
  transition-property: background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}
.hero__button:hover {
  border-color: #D1A9F0;
}
.hero__button:focus {
  border-color: transparent;
}
.hero__button::before {
  content: '';
  position: absolute;
  left: -6px;
  top: -6px;
  width: 320px;
  height: 76px;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  border-color: transparent;
  transition: border-color .3s ease-in-out;
}
/* .hero__button:focus::before {
  border-color: white;
} */
.hero__button::after {
  content: '';
  position: absolute;
  left: -8px;
  top: -8px;
  width: 324px;
  height: 80px;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
  border-color: transparent;
  transition: border-color .3s ease-in-out;
}
.hero__button:focus::after {
  border-color: #9D5CD0;
}
.hero__button:active {
  background-color: #7943A4;
  border-color: #D1A9F0;
}
.hero__button:active::before,
.hero__button:active::after {
  border-color: transparent;
}



@media (max-width: 1365px) {
  .hero__container {
    min-height: 728px;
  }

  .hero__text {
    padding-top: 173px;
  }

  .hero__title {
    margin-bottom: 11px;
  }

  .hero__desc {
    max-width: 663px;
    margin-bottom: 133px;
  }
}



@media (max-width: 650px) {
  .hero__container {
    min-height: 329px;
  }

  .hero__text {
    padding-top: 53px;
  }

  .hero__text > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    font-size: 32px;
    line-height: 36.8px;
    text-align: center;
  }

  .hero__desc {
    margin-bottom: 58px;
    font-size: 12px;
    line-height: 16.34px;
    font-weight: 400;
    text-align: center;
  }

  .hero__button {
    width: 200px;
    height: 40px;
    font-size: 12px;
    line-height: 16.34px;
  }

  .hero__button::before {
    width: 206px;
    height: 46px;
  }

  .hero__button::after {
    width: 210px;
    height: 50px;
  }

}
