/* Вводные данные */

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'),
       url('../fonts/open-sans-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'),
       url('../fonts/open-sans-v20-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'),
       url('../fonts/open-sans-v20-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'),
       url('../fonts/open-sans-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}




/* Инициализация цветовой палитры */
:root {}


/* Инициализация html */
html {
	box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
	max-width: 100%;
}

body {
  position: relative;
  max-width: 1920px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: white;
  overflow-x: hidden;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
 }


 /* Глобальные определения */
.container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.section-title {
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;
}

.btn {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  /* transition: .3s ease-in-out; */
}


.swiper {
  height: 100%;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 173px;
  height: 40px;
}
