/* Section Projects */
.projects__title {
  margin-bottom: 16px;
}

.projects__text {
  display: block;
  margin-bottom: 18px;
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
}

.js-tooltip-btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
}

.projects__tooltip-img {
  width: 16px;
  height: 16px;
  color: black;
  /* stroke: #9D5CD0; */
  fill: none;
  transform: translateY(2px);
  transition: fill, color, stroke .1s ease-in-out;
}

.js-tooltip-btn:hover .projects__tooltip-img,
.js-tooltip-btn:focus .projects__tooltip-img {
  fill: #D1A9F0;
}

.js-tooltip-btn:active .projects__tooltip-img {
  color: white;
  fill: #9D5CD0;
  /* stroke: white; */
}

.tippy-box[data-theme~='amethyst'] {
  background-color: #9D5CD0;
  color: white;
  border-radius: 0;
}
.tippy-box[data-theme~='amethyst'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #9D5CD0;
}
.tippy-box[data-theme~='amethyst'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #9D5CD0;
}
.tippy-box[data-theme~='amethyst'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #9D5CD0;
}
.tippy-box[data-theme~='amethyst'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #9D5CD0;
}

.projects__link {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  color: #9D5CD0;
  border-bottom: 1px solid transparent;
}
.projects__link::before {
  content: '';
  position: absolute;
  left: -6px;
  top: -4px;
  right: -6px;
  bottom: -4px;
  background-color: transparent;
  z-index: -1;
}
.projects__link:hover {
  border-color: currentColor;
}
.projects__link:focus {
  color: white;
  border-color: transparent;
}
.projects__link:focus::before {
  background-color: #9D5CD0;
}
.projects__link:active {
  color: #7943A4;
  border-color: currentColor;
}
.projects__link:active::before {
  background-color: transparent;
}


.projects__partner-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
}

.projects__slider {
  width: 100%;
  /* height: 150px; */
  position: relative;
}

.projects__swiper,
.projects__wrapper {
  width: calc(1450 / var(--desktop-width) * 100vw);
}

.projects__navigation {
  display: inline-flex;
  align-items: center;
}

.projects__button {
  position: absolute;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: #ECECEC;
  border: 2px solid transparent;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.projects__button:hover {
  background-color: #D1A9F0;
}

.projects__button:focus {
  border-color: #9D5CD0;
}

.projects__button:active {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.projects__button::before {
  content: "";
  position: absolute;
  top: calc(50% - 7px / 2);
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  transform-origin: center;
}

.projects__button_prev {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.projects__button_next {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-disabled {
  opacity: .5;
}

.projects__button_next::before {
  left: calc(50% - 7px / 2);
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

.projects__button_prev::before {
  left: calc(50% - 7px / 2);
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}


.projects__swiper-link {
  box-sizing: border-box;
  /* max-width: 450px; */
  width: calc(450 / var(--desktop-width) * 100vw);
  /* max-height: 150px; */
  height: calc(150 / var(--desktop-width) * 100vw);
  border: 1px solid transparent;
  border-color: #CACACA;
}
.projects__img {
  /* max-width: 450px; */
  width: calc(450 / var(--desktop-width) * 100vw);
  /* max-height: 150px; */
  height: calc(150 / var(--desktop-width) * 100vw);
  object-fit: cover;
  filter: grayscale(1) opacity(.4);
  transition: filter .3s ease-in-out;
}
.projects__swiper-link:hover .projects__img {
  filter: none;
}
.projects__swiper-link:focus-visible {
  border-color: #9D5CD0;
}
.projects__swiper-link:active {
  border-color: #9D5CD0;
}
.projects__swiper-link:active .projects__img {
  filter: none;
}




@media (min-width: 1920px) {
  .projects__swiper,
  .projects__wrapper {
    width: 1450px;
}
}




@media (max-width: 1365px) {
  .projects__swiper,
  .projects__wrapper {
    width: calc(818 / var(--tablet-width) * 100vw);
  }

  .projects__swiper-link,
  .projects__img {
    width: calc(384 / var(--tablet-width) * 100vw);
    height: calc(128 / var(--tablet-width) * 100vw);
  }
}



@media (max-width: 860px) {
  .projects__text {
    margin-bottom: 25px;
  }

  .projects__swiper,
  .projects__wrapper {
    width: calc(562 / var(--mobile-width) * 100vw);
  }

  .projects__swiper-link,
  .projects__img {
    width: calc(264 / var(--mobile-width) * 100vw);
    height: calc(106 / var(--mobile-width) * 100vw);
  }

  .projects__partner-title {
    margin-bottom: 11px;
  }
}


@media (max-width: 650px) {
  .projects__swiper,
  .projects__wrapper {
    width: calc(195 / var(--min-width) * 100vw);
  }

  .projects__swiper-link,
  .projects__img {
    width: calc(195 / var(--min-width) * 100vw);
    height: calc(65 / var(--min-width) * 100vw);
  }
}
